<!--<div class="wrapper fadeInDown">
  <div id="formContent">-->
    <!-- Tabs Titles -->

    <!-- Icon -->
    <!--<div class="fadeIn first">
     Password Recovery
    </div>

    <form [formGroup]="formLogin">
      <p>
        <input type="text" class="fadeIn second" formControlName="email" placeholder="Correo">
      </p>
      <input type="submit" (click)="recuperar()" [disabled]="!formLogin.valid" class="fadeIn fourth" value="Recuperar Contraseña">
         </form>-->

    <!-- Remind Passowrd -->
   <!-- <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/login']"><--Return</a>
    </div>

  </div>
</div>-->


<html>
<body>



<br>
<img src="assets/img/logosmokeshop.jpg">
<br>
<label for="exampleInputEmail1">Recuperar contraseña:</label>

<br>
<form [formGroup]="formLogin">
  <div class="form-group">
    <label for="exampleInputEmail1"></label>
    <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" placeholder="Correo electrónico">
    <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div class="container-error-message" *ngIf="email.errors.required">
        Este campo es requerido
      </div>
    </div>

  </div>
  <button type="button" class="btn btn-dark" (click)="recuperar()">Enviar</button>
  <p>Regresar <a href="/login">Iniciar Sesión </a></p>
</form>
<br>
</body>
</html>
